/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 01-Nov-2023, 8:19:00 pm
    Author     : ashis
*/


.container{
    display:flex;
    justify-content: center;
    gap:100px;
    font-size: 50px;
}